<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>

    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'">

  </ion-item>

  <h2 class="ion-text-center">{{cliente?.nome}}</h2>
  <p class="ion-text-center">{{cliente?.email}}</p>

</ion-content>