h3 {
    text-align: center;
}

ion-list {
    text-align: left;
}

#botao {
    position: absolute;
    left: 0%;
    
}

#texto {
    text-transform: capitalize;
    color: #000;
    text-align: justify;
}