<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--itera sobre o item da lista items do controlador-->
    <ion-item button *ngFor="let item of items" (click)="showProdutos()">
      <ion-thumbnail slot="start">
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <label id="texto"> {{item.nome}} </label>
    </ion-item>

  </ion-list>
</ion-content>